## Deliverable 3. Create a Travel Itinerary Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [34]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Busselton,AU,54.82,overcast clouds,-33.6500,115.3333,Observatory Guest House
1,10,Tuktoyaktuk,CA,50.00,mist,69.4541,-133.0374,End of The Road Ltd.
2,14,Hermanus,ZA,50.81,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,43,Narsaq,GL,57.42,clear sky,60.9167,-46.0500,Sleep In Narsaq
4,45,Iqaluit,CA,53.33,few clouds,63.7506,-68.5145,Frobisher Inn

In [35]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [36]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Bisho']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bisho']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Port Alfred']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Port Elizabeth'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Kruisfontein'] 
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
29,206,Bisho,ZA,51.55,broken clouds,-32.8472,27.4422,Bisho Park bnb

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy())[0,5:7]
end = (vacation_end.to_numpy())[0,5:7]
stop1 = (vacation_stop1.to_numpy())[0,5:7]
stop2 = (vacation_stop2.to_numpy())[0,5:7]
stop3 = (vacation_stop3.to_numpy())[0,5:7]

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,206,Bisho,ZA,51.55,broken clouds,-32.8472,27.4422,Bisho Park bnb
1,106,Port Alfred,ZA,58.23,light rain,-33.5906,26.8910,The Halyards Hotel
2,60,Port Elizabeth,ZA,55.69,few clouds,-33.9180,25.5701,39 On Nile Guest House
3,339,Kruisfontein,ZA,51.89,broken clouds,-34.0033,24.7314,Oyster Bay House Rental

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))